@charset "utf-8";
/***************************************************************************/
/********************************  $Content  *******************************/
/**
* + Content
* + General Tags
* + About
* + Alerts
* + Background Video
* + Buttons
* + Carousels
* + Classes
* + Classes Home
* + Collapse
* + Contact
* + Error 404
* + Events
* + Flickr Feed
* + Footer Bottom
* + Footer Middle
* + Footer Top
* + Forms
* + Gallery
* + High-boxes
* + Highlights
* + Image Hover
* + Image Inline
* + Navbar Brand
* + Navigation DropDown Menu
* + Navigation Navbar
* + News
* + Pagination
* + Parallax
* + Partners
* + Pricing Table
* + Programs
* + Progress
* + Revolution Slider
* + Search
* + Search Menu Form
* + Shortcode
* + Sidebar - Brouche Widget
* + Sidebar - Categories/Archives Widget
* + Sidebar - Popular Widget
* + Sidebar - Suscribe Form Widget
* + Sidebars
* + Skills
* + Social
* + Store
* + Tabs
* + Tags
* + Testimonials
* + Timetable
* + Top Bar
* + Trainers
* + Video Embedded
* + Endereco (paginas de unidades)
* + Comprar store
*/
/**
 *
 *
 *
 *
/***************************************************************************/
/*****************************  $General Tags  *****************************/
a {
  color: #fff;
  font-family: 'Open Sans';
  font-size: 0.875em;
  outline: 0;
  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
a:hover {
  text-decoration: none;
  color:  #333;
}
address {
  margin-top: 10px;
}
address>p {
  line-height: 35px;
  margin: 0;
}
address>p>i {
  font-size: 1.4em;
  padding-right: 10px;
}
article {
  background-color: #fff;
  padding: 20px 0;
}
article address>p {
  margin: 0;
}
article p {
  margin-bottom: 1.2em;
}
article p a {
  text-decoration: underline;
}
article p a:hover {
  color: #333;
}
article ul,
article ol {
  font-size: 1em;
  line-height: 1.5em;
  padding: 0 0 0 30px;
}
article>ul {
  list-style: none;
}
blockquote {
  background-color: #f4f4f4;
  color: #999;
  font-size: 1.8em;
  letter-spacing: 2px;
  line-height: 1em;
  margin: 30px 0;
  padding: 30px 30px 30px 60px;
}
body {
  background-color: #fff;
  color: #66808c;
  font-family: 'Open Sans';
  font-size: 16px;
  width: 100%;
  overflow-x: hidden;
}
footer {
  background-color: #262626;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font-family: 'Raleway';
  margin: 20px 0 10px 0;
}
h1 {
  color: #fff;
  font-size: 4.5em;
  font-weight: 900;
  letter-spacing: -3px;
  text-transform: uppercase;
}
h1.default {
  color: #000;
}
h2 {
  color: #211d1e;
  font-size: 2.3em;
  font-weight: 400;
  margin-bottom: 30px;
}
h2:first-child {
  margin-top: 0;
}
h3 {
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 0.975em;
}
h6 {
  font-size: 0.8em;
  font-weight: 400;
  margin-top: 30px;
}
header {
  background-color: #000;
}
header h1 {
  margin: 70px 0;
  position: relative;
  color: #fff;
}
header h1:after {
  border: 20px solid transparent;
  border-bottom-color: #fff;
  content: '';
  height: 70px;
  left: 0;
  position: absolute;
  top: 100%;
}
img {
  width: 100%;
}
input::-moz-focus-inner {
  border: 0;
}

.fileUpload {
   font-size: 0.9em;
    font-weight: 300;
    color: white;
    background-color: #a52b2d;
    display: block;
    position: relative;

    
}
.fileUpload input.upload {
    cursor: pointer;  
    opacity: 0;
    background-color: #a52b2d;
    filter: alpha(opacity=0);
    position: absolute;
    border: 2px solid #a52b2d;

}


object,
embed {
  outline: 0;
}
p {
  color: #919191;
  font-family: 'Open Sans';
  font-size: 0.875em;
  line-height: 1.7em;
}
p a {
  font-size: 1em;
}
p+ul {
  margin-top: -10px;
}
section {
  overflow: hidden;
  padding: 0 0 50px 0;
}
section.section-home {
  padding: 0;
}
ul {
  padding: 0;
}
select:focus {
    outline: none;
    overflow: hidden;
}
.novo{
  padding: 20px 10px;
  margin-bottom: 20px;
  position: absolute;
  display: inline-block;
  top: 240px;
  left: 160px;
  border-radius: 100%;
  width: 50px;
  height: 50px;
}
.btn-comprar{
  margin-top: 50px;
}
/**
 *
 *
/********************************  $About  *********************************/
.about {
  padding-top: 80px;
}
.about figure {
  margin-bottom: 30px;
}
/*
.about .carousel {
  margin-bottom: 30px;
}*/
.title-about h2{
  text-align: center;
}
/**
 *
 *
/********************************  $Alerts  ********************************/
.alert {
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/**
 *
 *
/***************************  $Background Video  ***************************/
.bg-video {
  
  height: 480px;
  overflow: hidden;
  position: relative;
  margin: 20px auto;
}
.bg-video .over {
display: none;
  height: 100%;
  left: 35%;
  position: absolute;
  text-align: center;
  top: 25%;
  width: 30%;
}
.bg-video .over h3 {
  color: #fff;
  font-size: 4.3em;
  font-weight: 700;
  line-height: 1.2em;
}
.bg-video .stop {

  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 2.6em;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  position: absolute;
  right: 10px;
  top: 10px;
}
.bg-video .yt-video {
 
  height: 0;
  left: 50%;
  padding-top: 25px;
  position: relative;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.bg-video .yt-video.ratio43 {
  padding-bottom: 67.5%;
}
.bg-video .yt-video.ratio169 {
  padding-bottom: 56.25%;
}
.bg-video .yt-video iframe {
 
  width: 100%;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
/**
 *
 *
/********************************  $Buttons  *******************************/
.btn {
  text-decoration: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.btn.btn-all {
  background-color: #5bb75b;
  color: #fff;
  float: right;
  margin-top: 20px;
  display: inline-block;
  transform: skew(-20deg); 
}
  
 .dado{
  display: block;
  transform: skew(20deg);
}



.btn.btn-filters {
  border: 1px solid #e1e1e1;
  color: #909090;
  padding: 7px 20px;
  margin: 0 0 10px 0;
}
.btn.btn-filters.active {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn.btn-foot-news {
  color: #333;
  font-size: 1.3em;
  height: 40px;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 70px;

}
.btn.btn-foot-news:hover {
  color: #fff;
}
.btn.btn-form {
  background-color: #a52b2d!important;
  border-width: 2px;
  font-family: 'Raleway';
  font-size: 0.875em;
  font-weight: 700;
  padding: 8px 25px;
  text-transform: uppercase;
  color: #fff!important;
}
.btn.btn-form{
  background-color: #fff!important;
  color: #a52b2d!important;
}
.btn.btn-pricing {
  background-color: #575757;
  border: none;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  display: block;
  font-size: 1.1em;
  height: 50px;
  line-height: 50px;
  padding: 0 0 0 47px;
  position: relative;
  text-align: center;
}
.btn.btn-pricing i {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  font-size: 1.5em;
  height: 50px;
  left: 0;
  color: #fff;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 47px;
}
.btn.btn-search {
  background-color: #e6e6e6;
  color: #c0c0c0;
  font-size: 1.3em;
  height: 45px;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 45px;
}
.btn.btn-sidebar,
.btn.btn-more {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: block;
  font-size: 1.1em;
  font-weight: 700;
  margin: 20px 0 0 0;
  padding: 10px 20px;
  text-transform: uppercase;
  width: 100%;
}
.btn.btn-sidebar:hover,
.btn.btn-more:hover {
  color: #fff;
}
.btn.btn-sidebar.alt,
.btn.btn-more.alt {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
  font-size: 0.875em;
  font-weight: 300;
  padding: 15px 20px;
  text-transform: none;
}
.btn.btn-sidebar.alt:hover,
.btn.btn-more.alt:hover {
  background-color: #fff;
}
.btn.btn-sidebar i,
.btn.btn-more i {
  font-size: 1.3em;
  padding: 0 5px 0 0;
}
.btn.btn-more {
  display: inline-block;
  font-size: 0.9em;
  font-weight: 600;
  line-height: 25px;
  padding: 8px 20px;
  width: auto;
}
.btn.btn-more i {
  padding: 0 0 0 5px;
  position: relative;
  top: 1.2px;
}
.btn.btn-slider {
  color: #fff;
  font-family: 'Raleway';
  font-size: 1.2em;
  font-weight: 700;
  padding: 6px 20px;
  text-transform: uppercase;
  border-radius: 10px; 
}
.btn.btn-slider i {
  font-size: 1.3em;
  padding: 0 5px 0 0;
  position: relative;
  top: 2px;
}


.btn.btn-video,
.btn.btn-testimonials {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-family: 'Raleway';
  font-size: 1.7em;
  font-weight: 700;
  margin: 40px 0 0 0;
  padding: 20px 50px;
  text-transform: uppercase;
      display: inline-block;
    transform: skewX(-6deg);

 
  
}
.btn.btn-video.dado2{
  display: block;
  transform: skew(20deg);
}

.btn.btn-video i,
.btn.btn-testimonials i {
  position: relative;
  left: -10px;
}
.btn.btn-testimonials {
  background-color: #fff;
  border-radius: 3px;
  display: block;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  width: 310px;
}
.btn.btn-testimonials:hover {
  color: #fff;
}
.blank {
  display: none;
}
.btn-cta{
  background-color: #81be43;
  color: #fff;
  font-family: 'Raleway';
  font-size: 1.7em;
  font-weight: 700;
  margin: 20px auto;
  padding: 20px 50px;
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
  border-radius: 10px;
}
.btn-cta2{
  background-color: #a52b2d;
  color: #fff;
  font-family: 'Raleway';
  font-size: 1.7em;
  font-weight: 700;
  margin: 20px auto;
  padding: 20px 50px;
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
  border-radius: 10px;

}
.cta-area{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
}
/**
 *
 *
/******************************  $Carousels  *******************************/
.carousel-control {
  background-color: rgba(197,32,38,0.7);
  bottom: auto;
  color: #fff;
  height: 50px;
  line-height: 50px;
  margin: -25px 0 0 0;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  text-shadow: none;
  top: 50%;
  width: 50px;
}
.carousel-control:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  background-color: #bb0000!important;
}
.carousel-control.left,
.carousel-control.right {
  background-image: none;
  border-radius: 100%;
}
/*
.carousel-inner{
  height: 200px !important;
}
*/
/**
 *
 *
/*******************************  $Classes  ********************************/
.classes {
  padding: 80px 0;
}
.classes .grid {
  min-height: 1500px;
  margin: -10px;
}
.classes .grid.image-hover figure p {
  font-size: 1.2em;
  width: 45%;
}
.classes .grid figure {
  height: auto;
  margin: 10px;
  width: 280px;
}
.classes .filters {
  margin: 0 0 20px 0;
}
.classes .filters p {
  display: inline-block;
  margin: 0 20px 0 0;
}
.classes-item {
  border: 1px solid #e1e1e1;
  float: left;
  height: 210px;
  margin: 10px;
  overflow: hidden;
  padding: 20px 20px 20px 280px;
  width: 550px;
}
.classes.two-columns .classes-item figure {
  float: left;
  margin: -20px 20px -20px -280px;
  width: 271px;
}
.classes.two-columns .classes-item h3 {
  color: #000;
  font-size: 1.3em;
  margin: 0 0 10px 0;
}
.classes.two-columns .classes-item p {
  margin: 10px 0;
}
.classes.two-columns .classes-item span {
  color: #919191;
  display: block;
  font-size: 0.875em;
  margin: 2px 0;
}
.classes.two-columns .classes-item span i {
  padding: 0 5px 0 0;
}
.classes.two-columns .filters {
  text-align: center;
}
.classes.two-columns .grid {
  min-height: 0;
}

.modal h3{
  color: #565656 !important;
}
.modal-header{
  background: #fff;
}

.modal-body{
  background: #fff;
}
.modal .login{
  margin:  0px;
  background: #fff;
  padding: 40px;
}

.modal-footer{
  border-top: 0;
}
/* .login{
  width: 100%;
  height: 95px;
  overflow: hidden;
} */
/* arrumar a animação */
/* .login:focus{
  width: 100px;
    height: 100px;
    position: relative;
    background-color: red;
    animation-name: mostrar login;
    animation-duration: 4s;
  overflow:  visible;
} */
.login button{
     padding: 15px;
    margin: 0 auto;
    display: block;
    width: 50%;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    background: #a52b2d;
    border: #a52b2d;
    border-radius: 4px;
}

.cadastro-loja{
  padding: 15px;
    margin: 30px  auto;
    display: block;
    width: 50%;
    background: #a52b2d;
    border: #a52b2d;
    border-radius: 4px;
}

.cadastro-loja button>span{
  color: #fff;
    text-transform: uppercase;
    font-weight: 500;
}

.cadastro-loja span:hover{
  color: #a52b2d;
}

.cadastro-loja:hover{
  color: #a52b2d;
    background: #f5f5f5;
    border: #f5f5f5;
}
.login button:hover{
    color: #a52b2d;
    background: #f5f5f5;
    border: #f5f5f5;
}

.login input{
  border-radius: 4px;
  border: 1px solid #ddd;
}
.login select{
  border-radius: 4px;
  border: 1px solid #ddd;
}

.continuar-comprando{
  background: #a52b2d;
  border: 1px solid #a52b2d;
  border-radius:  4px;
  color: #fff;
  padding: 15px;
}
.continuar-comprando:hover{
  background: #fff;
  color: #a52b2d ;

}

.header-cart{
background: #565656;
height: auto;
margin-top: 40px;
margin-bottom: 40px;
}
.header-cart h2{
  color: #fff;
  margin-top: 30px;
  margin-left: 30px;
}

.header-cart button{
  background: #a52b2d;
  padding: 15px;
  border: 1px solid #a52b2d;
  border-radius:  4px;
  color: #fff;
  margin-top: 18px;
  margin-bottom: 

}

.header-cart button:hover{
   background: #fff;
  color: #a52b2d ;
}

.alterar-compra{
  padding: 20px;
  border:  solid 1px #ddd;
  background-color: #fff;
}

.itens-compra{
  background:  #ccc;
}

.itens-compra img{
  width: 200px;
  margin:  20px 0;
}

.itens-compra .descricao-produto{
  margin:  20px 0;

}

.itens-compra p{
  color:  #565656;
}
.itens-compra a{
  cursor: pointer;
  color: #a52b2d ;
}

.preco{
  margin-top: 35px;
}

.quantidade {
  margin-top: 65px;
}
.quantidade input{
  width: 50px !important;
}

.header-cart hr{
  height: 3px;
  background: #000;
  width: 100%;
 
}

.finalizar{
  margin:  20px 0;
}
.confirmar-compra{
  margin-top:  40px ;
}

.footer-cart{
  
  margin: 40px;
  height: 100px;
}
.footer-cart button{
  background: #a52b2d;
  padding: 15px;
  border: 1px solid #a52b2d;
  border-radius:  4px;
  color: #fff;
  margin-top: 18px;
  margin-bottom: 20px;
  width: 100%;

}

.footer-cart button:hover{
   background: #fff;
  color: #a52b2d ;
}

.footer-cart p {
  margin-top: 20px;
}

.footer-cart a{
  color:  #565656;
  margin:  0 auto;
}

.opcao-pagamento{
  border: 1px solid #ddd;
  font-size: 80px;
  margin:  0  auto;
  padding: 10px;
}

.forma-de-pagamento h3{
  margin: 30px;
}

.opcao-pagamento .label-info{
  font-size: 12px!important;
  position: absolute;
  display: inline-block;
  top: 10px;
}


.opcao-pagamento button{
  margin: 0 auto 20px;
  padding: 10px;
  font-size:  14px;
  color:  #fff;
  background-color: #a52b2d;
  border:  1px solid #a52b2d ;
  border-radius: 4px; 
  display: block;
}
.opcao-pagamento button:hover{
  color: #a52b2d;
  background: #fff;
}
.parcela{
  margin-top: 10px;
}

.btn-pag{
  width: 100%;
}
.obrigado{
  width: 100%;
  height: 100%;
  display: block;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.obrigado button{
 color: #fff;
 background: #a52b2d;
 padding: 20px;
 margin:  20px auto 20px auto;
 border:  1px solid #a52b2d;
 border-radius: 4px;
 display: block;
}

.obrigado button:hover{
 color: #a52b2d;
 background: #fff;

}

.obrigado .icon-check{
  font-size: 60px;
  color: green;
  margin:  0 auto;
  display: block;
}

.conteudo-blog{
 margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ccc;
  padding: 20px;
}

.conteudo-blog .ler-mais{
  color: #fff;
 background: #a52b2d;
 padding: 10px;
 border:  1px solid #a52b2d;
 border-radius: 4px;

}
.conteudo-blog .ler-mais:hover{
  color: #a52b2d;
 background: #fff;
 
}
.conteudo-blog .conteudo  h3{
  margin-top: 20px!important;
  margin-bottom: 20px!important;
}

.conteudo-blog img{
  margin-bottom: 20px;
}

.conteudo-blog iframe{
  margin-bottom: 20px;
}


.conteudo-blog figcaption{
  background-color: transparent;
  width: auto;
  height: auto;
  color:  #565656;
  font-size: 14px;
}

.categoria a{
  color:  #565656;
}
.categoria ul {
  list-style: none;
}


.instrutor img{
  width: 100px;
}
.lista-comentarios{
  background: #FAFFF8;
  margin-top: 40px;
  padding: 20px;
}

.comentario{
  background: #e5eaec;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.comentario button{
  
  padding: 10px;
  font-size:  14px;
  color:  #fff;
  background-color: #a52b2d;
  border:  1px solid #a52b2d ;
  border-radius: 4px; 
  display: block;
}
.comentario button:hover{
  color:  #a52b2d;
  background-color: #fff;

}

.conjunto-posts{
  margin:  20px auto;
}
/**
 *
 *
/*****************************  $Classes Home  ******************************/
.classes-home {
  background-color: #333;
  overflow: hidden;
  padding: 0;
}
.classes-home h5 {
  color: #fff;
  font-size: 1.2em;
  font-weight: 700;
  margin: 0 0 10px 0;
  text-align: right;
  text-transform: uppercase;
}
.classes-home ul {
  height: 400px;
  list-style: none;
  margin: 40px 0;
}
.classes-home ul li a {
  clear: both;
  display: block;
  float: right;
  margin-bottom: 20px;
  max-width: 360px;
  width: 100%;
}
.classes-home ul li a figure {
  float: right;
  margin: 0 0 0 20px;
  width: 180px;
}
.classes-home ul li a p {
  text-align: right;
}
.classes-home .tab-content {
  border: none;
  height: 480px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 15px;
  width: 1200px;
  overflow: hidden;
}
.classes-home .tab-content figure {
  height: 480px;
}
.classes-home .tab-content figure figcaption {
  bottom: 0;
  padding: 0 50px 50px 0;
  position: absolute;
  right: 0;
  text-align: right;
  width: 500px;
  z-index: 0;
}
.classes-home .tab-content figure figcaption:after {
  border-style: solid;
  border-width: 300px 1500px 0 0;
  bottom: 0;
  content: '';
  position: absolute;
  right: 0;
  z-index: -1;
}
.classes-home .tab-content figure figcaption h5 {
  margin-bottom: 30px;
}
.classes-home .tab-content figure figcaption p {
  color: #fff;
  font-size: 1em;
  font-style: italic;
}
/**
 *
 *
/*******************************  $Collapse  *******************************/
.panel-group .panel {
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.panel-group .panel+.panel {
  margin: 0;
}
.panel-group .panel-heading {
  -webkit-border-radius: 0;
  border-radius: 0;
  margin: 0 0 10px 0;
  padding: 0;
}
.panel-group .panel-heading+.panel-collapse .panel-body {
  border: none;
}
.panel-group .panel-body {
  background-color: transparent;
  border: 0;
  margin: 0 0 10px 0;
}
.panel-group .panel-title>a {
  background-color: #fff;
  border: 1px solid #e1e1e1;
  color: #1f1d1e;
  display: block;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 28px;
  min-height: 48px;
  padding: 10px 10px 10px 30px;
  width: 100%;
}
.panel-group .panel-title>a i {
  float: right;
  font-size: 1.3em;
}
/**
 *
 *
/*******************************  $Contact  ********************************/
.contact {
  padding: 20px 0;
  margin-bottom: 40px;
}
.contact address {
  font-size: 0.9em;
}
.contact textarea {
  min-height: 120px;
  margin-top: 20px;
}
.contact .form-control {
  border: 1px solid #e1e1e1;
  height: 45px;
}
.contact .form-response {
  margin: 20px 0 0 0;
}
.contact .map {
  height: 350px;
}
.contact-form-title{
  font-size: 1.1em;
}

.contact button{
  margin-top: 20px;
  background-color: #a52b2d !important;
  color:  #fff !important;
}

.contato-bg{
  background: #fff;
}

.contact input[checkbox]{
  display: inline-block;
}
/**
 *
 *
/*******************************  $Error 404  *******************************/
.error-404 {
  padding: 50px 0;
}
.error-404 h2{
  margin-bottom: 0;
}
.error-404 h3{
  font-size: 15em;
  font-weight: 100;
  margin: 0;
}
.error-404 h4{
  font-size: 3.5em;
  font-weight: 800;
  margin: 0 0 60px 0;
  text-transform: uppercase;
}
.error-404 span{
  font-size: 13px;
}
.search-box{
  margin: 0 auto;
  width: 275px;
}
/**
 *
 *
/*******************************  $Events  *******************************/
.event-box{
  padding: 0 14px;
  line-height: 1.5em;
}
.event-day{
  color: #fff;
  float: left;
  font-style: italic;
  text-align: center;
  padding: 13px 20px 14px 20px;
  margin: 0 10px 0 0;
}
.events{
  padding: 60px 0;
}
.events .border-box{
  margin: 0 0 50px 0;
}
.events span{
  color: #919191;
  display: block;
  font-size: 0.8em;
  margin: 2px 0;
}
.event-info{
  font-size: 0.85em;
  margin: 1em 0;
}
.events h3{
  color: #000;
  font-size: 18px;
}
.events-item{
  float: left;
  margin-bottom: 10px;
}
.events .image-hover figure{
  height: auto;
  width: auto;
}
.event .map{
  height: 1263px;
}

.motivo{
      color: #bb0000;
    font-size: 80px;
    border: 3px solid #bb0000;
    border-radius: 50%;
    margin: auto;
    text-align: center;
    height: 150px;
    width: 150px;
}

.motivo .icon{
  margin: auto;
}
/**
 *
 *
/******************************  $Flickr Feed  *****************************/
.flickr-feed {
  list-style: none;
  margin: 0 -3px;
}
.flickr-feed li {
  float: left;
  margin: 3px;
  width: 60px;
}
.flickr-feed li a {
  display: block;
  overflow: hidden;
  position: relative;
}
.flickr-feed li a:hover:before {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.flickr-feed li a:before {
  content: '';
  height: 100%;
  left: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  position: absolute;
  top: 0;
  -webkit-transform: scale(0.01);
  -moz-transform: scale(0.01);
  -o-transform: scale(0.01);
  -ms-transform: scale(0.01);
  transform: scale(0.01);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 100%;
}
/**
 *
 *
/*****************************  $Footer Bottom  ****************************/
.copy {
  background-color: #ff3631;
  
}
.copy a {
  text-decoration: none;
}
.copy p {
  height: 55px;
  line-height: 55px;
  margin: 0;
  color: #fff!important;
}
.copy .top {
  float: right;
}


/**
 *
 *
/*****************************  $Footer Middle  ****************************/
.info {
  background-color: #c52026;
  padding: 65px 0;
}
.info h4 {
  color: #fff;
  font-size: 1em;
  font-weight: 700;
  margin-top: 35px;
}
.info h4:first-child {
  margin-top: 0;
}
.info .classes-list {
  list-style: none;
}
.info .classes-list li a {
  line-height: 2em;
}
.info .classes-list li a:hover {
  margin-left: .3em;
  color: #333;
}
.info .foot-logo {
  margin-bottom: 20px;
  max-width: 270px;
}
.info .foot-newsletter {
  margin-bottom: 40px;
  position: relative;
}
.info .foot-newsletter .form-control {
  background-color: #fff;
  height: 40px;
  line-height: 24px;
  padding: 13px 80px 13px 13px;
}
.info .foot-newsletter .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.info .social {
  float: left;
}
.info .social li a {
  color:  #fff;
  line-height: 25px;
  padding: 5px;
}
.info .social li a:hover {
  font-size: 130%;
  color:  #ccc;
}
.info i{
  font-size: 30px;
}
.info i:hover{
  color:#333;
}
.info li a {
  color: : #fff;
}
.info li a :hover{
  color: : #ccc !important;
}
/**
 *
 *
/******************************  $Footer Top  ******************************/
.hours {
  background-color: #262626;
  height: 470px;
  display: block;
  width: 100%;
  transform: skew(-4deg);
  }
 .hours  .opening-hours h3{
    margin-top: 20px;
  } 
  .hours  ul li {
   width: 100%;
   display: inline-block;
    transform: skew(4deg);
  }
.hours  ul li p{
  display: inline-block;
    transform: skew(4deg);
  }

.mapa{
    background-color:  #fff !important;
    display: inline-block;
    transform: skew(0, 0)
  }
.hours .map {
  height: 470px;
  margin: 0;
  position: absolute;
  right: 15px;
  width: 1200px;
}
.hours .opening-hours {
  margin-top: -10px;
  position: relative;
  z-index: 1;
}
.hours .opening-hours h3 {
 font-size: 1em;
color: #fff!important;
padding-top: 20px !important;
}

.hours .opening-hours ul {
  list-style: none;
}
.hours .opening-hours ul li:nth-child(odd) {
  background-color: #2e2e2e;
}
.hours .opening-hours ul li p {
  line-height: 40px;
  margin: 0;
  padding: 0 20px;
}
/**
 *
 *
/*********************************  $Forms  ********************************/
.form-control {
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/**
 *
 *
/*******************************  $Gallery  ********************************/
.gallery figure {
  float: left;
  width: 33.33%;
}

.galeria img{
  margin-bottom: 40px;
}
/**
 *
 *
/******************************  $High-boxes  ******************************/
.high-boxes {
  background-color: rgba(0,0,0,0.5);
  bottom: 60px;
  left: 0;
  padding: 15px 0;
  position: absolute;
  width: 100%;
  z-index: 99999;
  
}
.high-boxes .b-blog {
  display: inline-block;
  transform: skew(-6deg);

}
.high-boxes .b-blog img{
  display: inline-block;
  transform: skew(6deg);

}
.high-boxes .b-blog figcaption{
  display: inline-block;
  transform: skew(6deg);
   background:  #fff;
   color:  #919191;
}
.high-boxes .b-blog figcaption p{
  color:  #919191;
}
.high-boxes figure {
  background-color: #fff;
  height: 123px;
  overflow: hidden;
  display: inline-block;
  transform: skew(0deg);

}
.high-boxes figure figcaption {
  float: right;
  padding: 16px;
  width: 49.9%;
  

}
.high-boxes figure figcaption strong {
  color: #000;
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.high-boxes figure img {
  width: 50%;
      position: relative;
    left: -10px;
    z-index: 0;


}
/**
 *
 *
/******************************  $Highlights  ******************************/
.highlights {
  background-color: rgba(0,0,0,0.8);
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 99999;
}
.highlights p {
  margin: 0;
  position: relative;
}
.highlights p a {
  color: #fff;
  display: block;
  height: 60px;
  line-height: 60px;
  padding: 0 90px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  font-size: 3em;
}
.highlights p i {
  font-size: 2.5em;
  left: 20px;
  position: absolute;
  top: 0;
}
/**
 *
 *
/******************************  $Image Hover  *****************************/
.image-hover {
  overflow: hidden;
}
.image-hover figure {
  background-color: #000;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  height: 315px;
  margin: -0.135em;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 33.333%;
  z-index: 1;
}
.image-hover figure:hover img {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  -moz-transform: translate3d(0, 0, 0) scale(1);
  -o-transform: translate3d(0, 0, 0) scale(1);
  -ms-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
}
.image-hover figure:hover p {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.image-hover figure:hover i {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.image-hover figure a {
  z-index: 1000;
}
.image-hover figure a,
.image-hover figure figcaption {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.image-hover figure a:before,
.image-hover figure figcaption:before,
.image-hover figure a:after,
.image-hover figure figcaption:after {
  pointer-events: none;
}
.image-hover figure i {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-size: 2.5em;
  height: 60px;
  left: 50%;
  line-height: 58px;
  margin: -30px 0 0 -30px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: scale(0.2);
  -moz-transform: scale(0.2);
  -o-transform: scale(0.2);
  -ms-transform: scale(0.2);
  transform: scale(0.2);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  -moz-transition: opacity 0.35s, -moz-transform 0.35s;
  -o-transition: opacity 0.35s, -o-transform 0.35s;
  -ms-transition: opacity 0.35s, -ms-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  width: 60px;
}
.image-hover figure img {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  display: block;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  position: relative;
  -webkit-transform: translate3d(-30px, 0, 0) scale(1.12);
  -moz-transform: translate3d(-30px, 0, 0) scale(1.12);
  -o-transform: translate3d(-30px, 0, 0) scale(1.12);
  -ms-transform: translate3d(-30px, 0, 0) scale(1.12);
  transform: translate3d(-30px, 0, 0) scale(1.12);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  -moz-transition: opacity 0.35s, -moz-transform 0.35s;
  -o-transition: opacity 0.35s, -o-transform 0.35s;
  -ms-transition: opacity 0.35s, -ms-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  width: calc(100% + 60px);
}
.image-hover figure p {
  border-right: 1px solid #fff;
  color: #fff;
  font-size: 1.7em;
  letter-spacing: 1px;
  margin: 20px 0 0 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  padding: 3px 20px 3px 0;
  text-align: right;
  text-transform: uppercase;
  -webkit-transform: translate3d(-40px, 0, 0);
  -moz-transform: translate3d(-40px, 0, 0);
  -o-transform: translate3d(-40px, 0, 0);
  -ms-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  -moz-transition: opacity 0.35s, -moz-transform 0.35s;
  -o-transition: opacity 0.35s, -o-transform 0.35s;
  -ms-transition: opacity 0.35s, -ms-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  width: 30%;
}
/**
 *
 *
/*****************************  $Image Inline  *****************************/
.image-inline {
  margin: 0 20px 20px 20px;
}
.image-inline.small {
  max-width: 200px;
}
.image-inline.medium {
  max-width: 500px;
}
.image-inline.pull-left {
  margin-left: 0;
}
.image-inline.pull-right {
  margin-right: 0;
}
.image-inline.center {
  margin: 0 auto 20px;
}

.trabalhe-conosco{
  /* background-color: grey; */
}
/**
 *
 *
/*****************************  $Navbar Brand  *****************************/
.navbar-brand {
  height: auto;
  padding: 0px;
  position: absolute;
  top: -75px;
  z-index: 999;
 
}

/**
 *
 *
/***********************  $Navigation DropDown Menu  ***********************/
.navbar .navbar-nav .dropdown-menu {
  background-color: #262626;
  color: #ffffff;
  padding: 0;
  z-index: 999999;
  border-bottom-width: 40px 0 0 40px;
}


.navbar .navbar-nav .dropdown-menu>li>a {
  border-bottom: 1px solid #ff3631;
  border-left: 2px solid transparent;
  border-top: none;
  line-height: 40px;
  position: relative;


}
.navbar .navbar-nav .dropdown-menu>li.active>a,
.navbar .navbar-nav .dropdown-menu>li>a:hover {
  background-color: #ff3631;
  border-top: none;
  color: #fff;
}
.navbar .navbar-nav .dropdown-menu>li:last-child>a {
  border-bottom: none;
}
.insc{
  margin-top: 60px;
}

/**
 *
 *
/**************************  $Navigation Navbar  ***************************/
.navbar {
  background-color: #a52b2d;
  margin: 0;

}
.navbar .navbar-nav {
  float: right;
  height: 57px;
  
}
.navbar .navbar-nav li a {
  /* border-top: 3px solid transparent; */
  color: #ffffff;
  font-size: 0.9em;
  font-weight: 600;
  line-height: 58px;
  margin: 0;
  padding: 0 20px;
  text-transform: uppercase;
  
}
.navbar .navbar-nav li a:hover,
.navbar .navbar-nav li a:focus,
.navbar .navbar-nav li a:active,
.nav .open>a, 
.nav .open>a:hover, 
.nav .open>a:focus {
  background-color: #ff3631;
  display: inline-block;
  transform: skewX(-6deg);
  -webkit-transform: skewX(-6deg);
}



.navbar .navbar-nav li a:hover{
  cursor: pointer !important;
}
.navbar .navbar-nav li.active a {
  background-color: #000;
  color: #b7b7b7;
}

.navbar .navbar-nav li a:hover .item-text,
.navbar .navbar-nav li a:focus .item-text,
.navbar .navbar-nav li a:active .item-text,
.nav .open>a .item-text, 
.nav .open>a:hover .item-text, 
.nav .open>a:focus .item-text{
  display: inline-block;
  transform: skewX(6deg);
  -webkit-transform: skewX(6deg);
}


.navbar .navbar-nav .dropdown-menu li a:hover,
.navbar .navbar-nav .dropdown-menu li a:focus,
.navbar .navbar-nav .dropdown-menu li a:active,
.nav .dropdown-menu .open>a, 
.nav .dropdown-menu .open>a:hover, 
.nav .dropdown-menu .open>a:focus
{
  display: block;
  transform: skewX(0);
  -webkit-transform: skewX(0);
}

.navbar .navbar-nav .dropdown-menu li a:hover{
  cursor: pointer !important;
}


.insc{
  margin-top: 60px;
  margin-bottom: 60px;
}
.insc .formulario{
  border:  1px solid #ddd;
  padding: 10px;
}

.insc .formulario input{
  border: 1px solid #ddd;
}
.insc .formulario textarea{
  border: 1px solid #ddd;
}
.insc .formulario .btn{
  width: 100%;
}
.itens-motivo{
  margin-top: 40px;
}
.itens-motivo p{
  margin-top: 20px;
}
.itens-motivo:nth-child(2){
  margin-bottom: 60px;
}

.contact2 input{
  border:  1px solid #ddd;
}
.contact textarea{
border:  1px solid #ddd;
width: 100%;

}
.enviar{
  width: 50%;
  padding: 10px;
}
.cta{
   background: #c52026; 
    background: -webkit-linear-gradient(#c52026, #FF3631); 
    background: -o-linear-gradient(#c52026, #FF3631); 
    background: -moz-linear-gradient(#c52026, #FF3631); 
    background: linear-gradient(#c52026, #FF3631); 
    padding: 10px;
    border: none;
    width: 100%;
    margin-bottom: 60px;
    border-radius: 10px;
    margin:  0 auto;

}
.cta h2{
  color: #ffffff !important;
  font-weight: 700;
  padding: 15px;
  margin: 0 auto;
  display: block;
}
.callToAction{
  margin-bottom: 60px;
}
.matriz{
  margin: 30px 0;
}
.matriz figcaption{
  background:  #fff;
  color:  #262626;
}

.matriz figcaption p{
  color: #262626;
}
.matriz label{
 color: #262626;
     display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.form-inline select{
      border: 1px solid #e1e1e1;
      border-radius: 0;
      height: 45px;
      width: 60px;
      outline: none;
}


/**
 *
 *

/***********************  $Navigation Navbar Toggle ************************/
.navbar-toggle {
  border-color: #fff;
  margin: 30px 10px;
}
.navbar-toggle span {
  background-color: #fff;
}
/**
 *
 *
/*********************************  $News  *********************************/
.news {
  padding: 70px 0;
}
.news .main {
  padding: 0;
}
.news-item {
  display: block;
  float: left;
  margin: 0 15px 20px;
  width: 262px;
}
.news-item.image-hover figure {
  height: 136px;
  margin: 0;
  width: 100%;
}
.news-item.image-hover figure i {
  font-size: 2em;
  height: 40px;
  line-height: 38px;
  margin: -20px 0 0 -20px;
  width: 40px;
}
.news-item:hover.image-hover figure i {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.news-item:hover.image-hover figure img {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  -moz-transform: translate3d(0, 0, 0) scale(1);
  -o-transform: translate3d(0, 0, 0) scale(1);
  -ms-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
}
.news-item:first-child {
  clear: both;
  margin-bottom: 30px;
  position: relative;
  width: auto;
}
.news-item:first-child figure {
  height: 353px;
}
.news-item:first-child h2,
.news-item:first-child h6,
.news-item:first-child p {
  color: #fff;
  left: 40px;
  position: absolute;
  z-index: 1;
}
.news-item:first-child h2 {
  bottom: 50px;
  font-size: 2.5em;
  text-transform: uppercase;
  width: 40%;
}
.news-item:first-child h6 {
  bottom: 180px;
  font-size: 1em;
}
.news-item:first-child p {
  bottom: 40px;
  display: block;
  font-size: 1em;
}
.news-item h2 {
  font-size: 1.5em;
  line-height: 1.5em;
  margin-top: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.news-item h6 {
  color: #a2a2a2;
  letter-spacing: 2px;
  margin-top: 5px;
  text-transform: uppercase;
}
.news-item p {
  display: none;
}
.news-one {
  padding: 70px 0;
}
.news-one h2 {
  font-size: 1.8em;
  font-weight: 700;
  margin: 30px 0 15px;
  text-transform: uppercase;
}
.news-one h6 {
  color: #999;
  font-family: 'Open Sans';
  letter-spacing: 2px;
  line-height: 1.5em;
  margin: 10px 0;
  text-transform: uppercase;
}
.news-one h6 a {
  font-size: 1em;
}
.news-one h6 a:hover {
  color: #000;
}
.news-one-item {
  margin: 0 0 70px 0;
}
.news-one-item.image-hover figure {
  height: 353px;
  margin: 0;
  width: 100%;
}
.news-one-item blockquote {
  background-color: transparent;
  border: none;
  margin-bottom: 0;
  padding: 30px 30px 30px 130px;
  padding-bottom: 10px;
  position: relative;
}
.news-one-item blockquote i {
  color: #ffb19a;
  font-size: 3.5em;
  left: 0;
  position: absolute;
  top: 30px;
}
.news-one-item .carousel .item {
  height: 353px;
}
.news-one-item .carousel-indicators {
  bottom: 0;
}
.news-one-item .carousel-indicators li {
  width: 20px;
}
.news-one-item .yt-video {
  height: 353px;
}
.news-single-item>figure {
  height: 353px;
  overflow: hidden;
}
.news-single-item h3 {
  color: #999;
  font-size: 1.2em;
  font-weight: 400;
  margin-top: 30px;
  text-transform: none;
}
.author {
  border-top: 2px solid #ccc;
  margin: 50px 0;
  min-height: 100px;
  padding: 30px 0 30px 130px;
  position: relative;
}
.author figure {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 30px;
  width: 100px;
}
.author strong {
  color: #333;
  display: block;
  font-size: 0.875em;
  margin: 0 0 10px 0;
}
.comments h4 {
  font-size: 1.5em;
  margin: 50px 0 20px;
}
.comments textarea {
  min-height: 120px;
}
.comments .form-control {
  border: 1px solid #e1e1e1;
  height: 45px;
}
.comments .form-response {
  margin: 20px 0 0 0;
}
.comments-item {
  padding: 20px 0 20px 120px;
  position: relative;
}
.comments-item.reply {
  margin-left: 120px;
}
.comments-item figure {
  left: 0;
  position: absolute;
  top: 20px;
  width: 100px;
}
.comments-item p {
  margin-bottom: 10px;
}
.comments-item span {
  color: #919191;
  display: block;
  font-size: 0.875em;
  margin: 0 0 10px 0;
}
.comments-item .reply-link:hover {
  color: #333;
  text-decoration: underline;
}
.comments-item .reply-link i {
  font-size: 1.2em;
  padding: 0 5px 0 0;
}
/**
 *
 *
/******************************  $Pagination  ******************************/
.pagination {
  display: block;
  text-align: center;
}
.pagination>li {
  display: inline-block;
}
.pagination>li:first-child a,
.pagination>li:last-child a {
  -webkit-border-radius: 0;
  border-radius: 0;
}
.pagination>li>a {
  color: #999;
}
.pagination>li>a:hover,
.pagination>li.active>a {
  background-color: transparent;
}
/**
 *
 *
/*******************************  $Parallax  *******************************/
.parallax {
  background-attachment: fixed;
  background-color: transparent;
  background-position: 50% 0;
  background-repeat: no-repeat;
  -webkit-background-size: 150%;
  -moz-background-size: 150%;
  background-size: 150%;
}
.parallax:before {
  background-color: rgba(0,0,0,0.4);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.parallax .container {
  position: relative;
  z-index: 2;
}
/**
 *
 *
/*******************************  $Partners  *******************************/
.partners .owl-carousel .owl-wrapper-outer {
  z-index: 9;
}
.partners .owl-theme {
  margin: 20px 0;
  padding: 0 35px;
}
.partners .owl-theme .owl-controls {
  height: 100%;
  left: 0;
  margin: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.partners .owl-theme .owl-controls .owl-buttons {
  height: 100%;
}
.partners .owl-theme .owl-controls .owl-buttons div {
  background-color: #fff;
  border: 1px solid #dcdcdc;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #dcdcdc;
  font-size: 1.8em;
  height: 46%;
  margin: 0;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  padding: 0;
  position: relative;
  width: 35px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.partners .owl-theme .owl-controls .owl-buttons div:hover {
  color: #fff;
}
.partners .owl-theme .owl-controls .owl-buttons div i {
  height: 46px;
  left: 50%;
  margin: -23px 0 0 -20px;
  position: absolute;
  top: 50%;
  width: 40px;
}
.partners .owl-theme .owl-controls .owl-buttons .owl-next {
  float: right;
}
.partners .owl-theme .owl-controls .owl-buttons .owl-prev {
  float: left;
}
.partners-item {
  margin: 0 10px;
}
.partners-item img{
  border: 1px solid #ccc;
}
.partners h2{
  text-align: center;
}
/**
 *
 *
/****************************  $Pricing Table  *****************************/
.pricing {
  margin: 30px 0;
}
.border-box{
  border: 1px solid #e1e1e1;
}
.pricing-item {  
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
.pricing-item:hover li:first-child em,
.pricing-item:hover li:first-child span,
.pricing-item:hover li:first-child strong {
  color: #fff;
}
.pricing-item li {
  border-bottom: 1px solid #e1e1e1;
  color: #a2a2a2;
  font-size: 0.875em;
  line-height: 39px;
  min-height: 40px;
  padding: 0 30px;
}
.pricing-item li i {
  font-size: 1.2em;
  padding: 0 5px 0 0;
}
.pricing-item li:first-child {
  background-color: #333;
  height: 120px;
  padding: 30px;
  position: relative;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.pricing-item li:first-child em {
  display: block;
  color: #a9a9a9;
  font-size: 1em;
  font-style: normal;
  font-weight: 100;
  left: 85px;
  line-height: 20px;
  position: absolute;
  top: 65px;
}
.pricing-item li:first-child span {
  display: block;
  float: left;
  font-size: 4em;
  font-weight: 300;
  height: 55px;
  left: 30px;
  line-height: 55px;
  position: absolute;
  text-align: center;
  top: 30px;
  width: 55px;
}
.pricing-item li:first-child strong {
  display: block;
  font-size: 2em;
  font-weight: 700;
  height: 25px;
  left: 85px;
  line-height: 25px;
  position: absolute;
  top: 35px;
}
.pricing-item li:last-child {
  border-bottom: none;
  padding: 20px 50px;
}
/**
 *
 *
/*******************************  $Programs  *******************************/
.programs{
  
  margin: 20px;
}
.programs-item {
  display: block;
  margin: 20px auto;
  max-width: 250px;
  text-align: center;
}
.programs-item:hover .icon {
  background-color: #fff;
}
.programs-item h4 {
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.programs-item p {
  font-size: 1em;
}
.programs-item .icon {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #fff;
  display: block;
  font-size: 4em;
  height: 140px;
  line-height: 134px;
  margin: 0 auto 20px;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 140px;
}
.programs h2{
  text-align: center;
}
/**
 *
 *
/*******************************  $Progress  *******************************/
.progress {
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 12px;
  margin: -5px 0 10px 0;
  overflow: visible;
}
.progress .progress-bar {
  height: 12px;
  position: relative;
}
.progress .progress-bar span {
  color: #999;
  position: absolute;
  right: 0;
  top: -25px;
}
/**
 *
 *
/**************************  $Revolution Slider  ***************************/
.bannercontainer {
  background-color: #efefef;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  max-height: 765px !important;
  overflow: hidden !important;
  position: relative;
}
.bannercontainer .caption {
  white-space: normal !important;
  width: 60em !important;
}
.bannercontainer .title,
.bannercontainer .subtitle {
  color: #fff;
  font-size: 8em;
  font-weight: 700;
  letter-spacing: -10px;
  line-height: 1.5em;
  text-transform: uppercase;
}
.bannercontainer .subtitle {
  font-size: 2em;
  letter-spacing: normal;
}
.bannercontainer .tp-bullets.simplebullets.round .bullet {
  background-image: url("../img/slider/bullet.png");
  margin-bottom: 210px;
}
.bannercontainer .tp-leftarrow,
.bannercontainer .tp-rightarrow {
  display: none;
}
/**
 *
 *
/********************************  $Search  ********************************/
.search {
  margin-bottom: 40px;
  position: relative;
}
.search .form-control {
  border: 1px solid #e1e1e1;
  height: 45px;
  line-height: 24px;
  padding: 13px 80px 13px 13px;
}
.search .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
/**
 *
 *
/***************************  $Search Menu Form  ***************************/
.menu-search {
  display: inline-block;
  float: right;
  padding: 0;
  position: relative;
  height: 60px;
}
.menu-search button {
  background-color: transparent;
  border-width: 3px 0 0 0;
  border-top: 3px solid transparent;
  display: inline-block;
  font-size: 1.5em;
  height: 60px;
  line-height: 58px;
  padding: 0;
  position: relative;
  text-align: center;
  width: 60px;
  z-index: 2;
  color: #5e5e5e;
}
.menu-search button:hover,
.menu-search button:focus,
.menu-search button.active {
  outline: none;
}
.menu-search input[type="text"] {
  border: none;
  background: none;
  color: #efefef;
  cursor: pointer;
  display: inline-block;
  height: 60px;
  outline: none;
  padding: 0 60px 0 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: width 0.4s cubic-bezier(0, 0.795, 0, 1), padding 0.4s cubic-bezier(0, 0.795, 0, 1);
  -moz-transition: width 0.4s cubic-bezier(0, 0.795, 0, 1), padding 0.4s cubic-bezier(0, 0.795, 0, 1);
  -o-transition: width 0.4s cubic-bezier(0, 0.795, 0, 1), padding 0.4s cubic-bezier(0, 0.795, 0, 1);
  -ms-transition: width 0.4s cubic-bezier(0, 0.795, 0, 1), padding 0.4s cubic-bezier(0, 0.795, 0, 1);
  transition: width 0.4s cubic-bezier(0, 0.795, 0, 1), padding 0.4s cubic-bezier(0, 0.795, 0, 1);
  width: 0px;
  z-index: 3;
}
.menu-search input[type="text"]:focus {
  padding: 0 60px 0 30px;
  background-color: #000;
  width: 800px;
  z-index: 1;
  cursor: text;
}
/**
 *
 *
/***************************  $Shortcode  ***************************/

.shortcode .row{
  margin-bottom: 50px;
}
.padding-generic{
  padding: 60px 0;
}
/**
 *
 *
/*******************************  $Sidebar  ********************************/
.sidebar h5 {
  color: #000;
  font-size: 1.5em;
  font-weight: 700;
  margin: 50px 0 10px 0;
  padding: 0 0 0 10px;
  text-transform: uppercase;
}
.sidebar ul,
.sidebar ol {
  padding: 0;
}
/**
 *
 *
/***********************  $Sidebar - Brouche Widget  ***********************/
.brouche {
  border: 1px solid #e1e1e1;
  margin: 0 auto 40px;
  max-width: 400px;
  padding: 15px;
}
.brouche figure {
  margin: -15px -15px 15px -15px;
}
.brouche p {
  margin: 0;
}
.brouche strong {
  text-transform: uppercase;
}
.brouche .get-brouche {
  display: block;
  font-size: 1em;
  font-weight: 600;
  margin: .6em 0;
  text-align: center;
}
.brouche .get-brouche i {
  font-size: 1.2em;
  padding: 0 5px 0 0;
}
/**
 *
 *
/*****************  $Sidebar - Categories/Archives Widget  *****************/
.categories {
  line-height: 25px;
  list-style: none;
}
.categories i {
  font-size: 0.875em;
}

.categories a{
  color: #565656;
}
.categories li a:hover {
  margin-left: .3em;
}

.categories span{
  padding: 0px 2px;
  border-radius: 2px;
}

.facebook img{
  width: 30%;
}
/**
 *
 *
/***********************  $Sidebar - Popular Widget  ***********************/
.popular {
  list-style: none;
}
.popular li a {
  display: block;
  margin: 10px 0;
  min-height: 100px;
  padding: 0 0 0 110px;
  position: relative;
}
.popular li a:hover figure:before {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.popular li a h6 {
  color: #333;
  font-family: 'Raleway';
  font-size: 1.3em;
  letter-spacing: 0;
  margin: 0;
  margin-top: 0;
  text-transform: none;
}
.popular li a h6 p {
  font-size: 1em;
}
.popular li a figure {
  left: 0;
  position: absolute;
  top: 0;
  width: 100px;
}
.popular li a figure:before {
  content: '';
  height: 100%;
  left: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  position: absolute;
  top: 0;
  -webkit-transform: scale(0.01);
  -moz-transform: scale(0.01);
  -o-transform: scale(0.01);
  -ms-transform: scale(0.01);
  transform: scale(0.01);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 100%;
}
/**
 *
 *
/********************  $Sidebar - Suscribe Form Widget  ********************/
.form-suscribe {
  color: #fff;
  padding: 25px 15px;
}
.form-suscribe h3 {
  color: #fff;
  margin: 0 0 10px 0;
}
.form-suscribe h3 i {
  padding: 0 10px 0 0;
}
.form-suscribe p {
  color: #fff;
}
.form-suscribe span {
  font-size: 0.8em;
  color: rgba(255,255,255,.7);
}
.form-suscribe .form-control {
  height: 45px;
}
/**
 *
 *
/********************************  $Skills  ********************************/
.skills {
  background-image: url("../img/bg/skills.jpg");
  height: 400px;
  margin: 30px 0 50px;
  position: relative;
}
.skills h3 {
  color: #fff;
  margin: 0;
  text-align: center;
}
.skills .chart {
  height: 190px;
  margin: 50px auto 30px;
  position: relative;
  text-align: center;
  width: 190px;
}
.skills .chart .percent {
  color: #fff;
  font-family: 'Raleway';
  font-size: 2.5em;
  font-weight: 300;
  line-height: 190px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 2;
}
.skills .chart .percent:after {
  content: '%';
}
/**
 *
 *
/********************************  $Social  ********************************/
.social {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}
.social li {
  display: inline-block;
}
.social li a {
  display: block;
  font-size: 1.2em;
  line-height: 55px;
  padding: 10px 5px;
}
/**
 *
 *
/********************************  $Store  ********************************/
.testemunhos{
  margin-top: 60px;
}

.testemunhos span{
  font-size: 11px;
  line-height: 12px;
  margin-bottom: 40px;
  margin-top: 40px;
}
.testemunho >figure{
  display: inline;
  width: 20%;
  float: left;
}

.testemunhos p{
  font-size: 11px;
  line-height: 12px;
  width: 70%;
}

.testemunho .testem1 .testem2{
  margin-bottom: 40px; 
}
.fig-sobre{
  width: 70%;
  float: left;
  margin-bottom: 40px;
    width: 70%;
    float: right;
    margin-bottom: 60px;
    position: absolute;
    top: 10px;
    left: 153px;
}

.img-cliente{
  width: 20%;
  border-radius: 100%;
  display: inline;
}
.img-wrap {
  position: relative;

}
.img-wrap .onsale {
 
  border-radius: 50%;
  position: absolute;
  top: 9em;
  left: 15em;
  display: block;
  width: 3.631em;
  padding: 1em 0;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  font-size: .857em; 
  z-index: 9999;
}
.img-wrap-n {
  position: relative;
}
.img-wrap-n .onsale-n {
  border-radius: 50%;
  position: absolute;
  top: 1em;
  left: 1em;
  display: block;
  width: 3.631em;
  padding: 1em 0;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  font-size: .857em;
  background: red;  
  z-index: 9999;
}
.store-box {
  margin: 2em 0;
}
.store-box h3 {
  color: #000;
  font-size: 18px;
  margin: 0;
}
.store-box p {
  font-size: 0.8em;
}
.store-box p span {
  text-decoration:line-through;
  font-size: 2em;
}
.store .store-tag {
  color: #919191;
    display: block;
    font-size: 0.7em;
    letter-spacing: 2px;
    margin: 12px 0;
    text-transform: uppercase;
}
.store .store-box .date {
  position: absolute;
  top: 11.5%;
  left: 64.5%;
  width: 75px;
  height: 75px;
  padding: 5px;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 2;
}
.store .store-box .date span {
  display: block;
  font-size: 12px;
  font-weight: 300;
}
.store .store-box .date {
  background: #002f69;
  background: rgba(0, 47, 105, 0.6);
}
.store .search{
  margin-top: 1em;
}
.star {
  display: block;
  font-size: 1em;
  height: 1.89em;
  line-height: 1.89em;
  margin: 4px 0;  
  text-transform: uppercase;
}
.star i:before {
  margin: -0.2em;
}
/**
 *
 *
/********************************  $Store Item  ********************************/
#storeitem #img-store {
  float: left;
  margin: 0 20px 20px 0;
}
#storeitem #img-store ol {
  float: left;
  font-size: 1em;
  height: 587px;
  left: 0;
  margin: 0 92px 0 0;
  padding: 0;
  position: static;
  text-align: left;
  width: 70px;
}
#storeitem #img-store ol li img {
height: 100%;
}
#storeitem #img-store ol li {
background: none;
border-radius: 0;
border: none;
float: left;
height: 32.3%;
margin: 0 0 10px 0;
padding: 0;
position: relative;
text-indent: 0;
width: 210%;
}

#storeitem #img-store .carousel-inner {
  float: left;
  width: 470px;
}
 
#storeitem #img-store .carousel-inner {
  transition: width 0.3s, height 0.3s;
  -o-transition: width 0.3s, height 0.3s;
  -ms-transition: width 0.3s, height 0.3s;
  -moz-transition: width 0.3s, height 0.3s;
  -webkit-transition: width 0.3s, height 0.3s;
}
.store .single-item-info span{
  color: #919191;
  display: inline-block;
  font-size: 0.8em;
  letter-spacing: 2px;
  margin: 0;
  text-transform: uppercase;
}
.store .single-item-info a i{
  float: right;
}
.store .single-item-info h2{
  font-size: 2em;
  font-weight: bold;
  margin: 15px 0;
  text-transform: uppercase;
}
.single-item-info .price{
  margin: 0 0 10px 0;
}
.single-item-info .price p{
  color: #000;
  display: inline-block;
  font-size: 1.2em;
  margin: 0 0 0 5px;
}
.single-item-info .price span{
  font-size: 1em;
  text-decoration:line-through;
}
.single-item-info .social{  
  float: left; 
}
.single-item-info .social li a{
  color: #000;
  font-size: 1em;
  padding: 0;
}
.single-item-info .btn.btn-more{
  margin: 10px 0;
}
.single-item-info .btn.btn-mini{
  border-radius: 3px;
  display: inline-block;
  font-size: 0.9em;
  font-weight: 600;
  line-height: 25px;
  padding: 8px 10px;
  width: auto;
}
.single-item-info .btn.btn-mini:hover{
  color: #FFF;
}
.single-item-info .bt{
  border-top: 1px solid #e1e1e1;
  margin: 15px 0 0 0;
}
.social-tagline{
  float: left;
display: inline-block;
margin: 15px 10px 0 0;
}
#storeitem .item-form .padding-left{
  padding: 0 5px 0 0;
}
#storeitem .item-form .form-group {
  margin-bottom: 10px;
  width: 100%;
}
#storeitem .item-form .form-group.qty {
  max-width: 80px;
} 
#storeitem .form-control {
width: 100%;
height: 44px;
padding: 6px 12px;
line-height: 1.428571429;
color: #919191;
border: 1px solid #CCC;
}
#storeitem .item-form label{
  text-transform: uppercase;
  color: #000;
  font-size: 0.9em;
}
.store .tab-content ul{
  margin: 10px 0; padding: 0;
}
/**
 *
 *
/************************** $Image Thumbnail  ****************************/
figure .icons .btn.btn-image {
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 50px;
  text-transform: uppercase;
}
figure .icons .btn.btn-image:hover {
  background-color: #000;
  border: 2px solid #000;
  color: #fff;
}
figure .icons-2 .btn.btn-image {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 50px;
  text-transform: uppercase;
}
.item-thumbnail {
  overflow: hidden;
  position: relative;
  width: 100%;

  
}
.comprar{
  border: 1px solid #333;
  border-radius: 2px;
  height: 550px;
  width: 300px;
  margin:  30px;
}

.comprar .label:first-child{
  margin:  40px 20px 20px 12px;
  padding:  10px 70px 10px 70px;
}
.comprar-curso{
  border: 1px solid #333;
  border-radius: 2px;
  height: 400px;
  width: 250px;
  margin:  20px;
}

.comprar-curso .label:first-child{
  margin:  40px 20px 20px 12px;
  padding:  10px 70px 10px 70px;
}
hr{
  border:  1px solid #333;
}
.item-thumbnail:hover img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.item-thumbnail:hover .icons {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  top: 45%;
}
.item-thumbnail:hover .icons-2 {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  top: 62%;
}
.item-thumbnail:hover .overthumb {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  top: 0;
}
.item-thumbnail img {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.item-thumbnail .icons {
  display: block;
  font-size: 19px;
  height: auto;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  position: absolute;
  text-align: center;
  top: 100%;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  width: 100%;
}
.item-thumbnail .icons-2 {
  display: block;
  font-size: 19px;
  height: auto;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  position: absolute;
  text-align: center;
  top: 100%;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  width: 100%;
}
.item-thumbnail .icons a:hover {
  color: #f1b833;
  text-decoration: none;
}
.item-thumbnail .overthumb {
  background: #253b23;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  position: absolute;
  text-align: center;
  top: 100%;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  width: 100%;
}
/**
 *
 *
/*********************************  $Filters  *********************************/
.filters .panel-group .panel:first-child .panel-heading {
  margin-top: 0;
}
.filters .panel-group .panel .panel-heading {
  border: none;
  margin-top: 40px;
  padding: 0;
}
.filters .panel-group .panel .panel-heading .panel-title {
  font-size: 1.3em;
}
.filters .panel-group .panel .panel-heading .panel-title a {
  display: block;
  font-size: 0.75em;
  height: 32px;
  line-height: 32px;
}
.filters .panel-group .panel .panel-heading .panel-title i {
  color: #d2d1cf;
  font-size: 0.9em;
  position: absolute;
  right: 0;
  top: 0;
}
.filters .panel-group .panel .panel-heading+.panel-collapse .panel-body {
  background-color: #f7f7f7;
  border: 1px solid #e5e5e5;
  border: none;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-size: 0.8em;
  padding: 10px;
}
.filters .panel-body{
  padding: 15px 0;
}
.filters .slider-range {
  height: 50px;
  width: 100%;
}
.filters .slider-range .slider {
  width: 100%;
}
.filters .slider-range .slider.slider-horizontal {
  width: 100%;
}
.filters .slider-range .slider.slider-horizontal .slider-handle {  
  margin-top: -7px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.filters .slider-range .slider.slider-horizontal .slider-track {
  height: 3px;
}
.filters .slider-range .slider-selection{
  box-shadow: none;
}
.filters .slider-range .span_range {
  color: #565656;
  float: left;
  font-size: 0.9em;
  margin-top: 10px;
  text-align: left;
}
.filters .btn.btn-form{
  float: right;
  padding: 8px 18px;
}
/**
 *
 *
/*********************************  $Tabs  *********************************/
.nav-tabs>li>a {
  border: 1px solid #e1e1e1;
  -webkit-border-radius: 0;
  border-radius: 0;
  font-family: 'Raleway';
  font-size: 1.1em;
  font-weight: 500;
  padding: 10px 30px;
}
.nav-tabs>li.active>a,
.nav-tabs>li>a:focus,
.nav-tabs>li>a:hover {
  background-color: #fff;
  border-color: #e1e1e1;
}
.nav-tabs>li.active>a {
  border-bottom-color: transparent;
}
.tab-content {
  border: 1px solid;
  border-color: transparent #e1e1e1 #e1e1e1 #e1e1e1;
  padding: 20px;
}
/**
 *
 *
/*********************************  $Tags  *********************************/
.tags {
  list-style: none;
  margin: 0 -3px;
}
.tags li {
  display: inline-block;
}
.tags li a {
  border: 1px solid #e1e1e1;
  display: block;
  font-size: 0.8em;
  margin: 3px;
  padding: 2px 12px;
  text-transform: uppercase;
}
.tags li a:hover {
  color: #fff;
}
/**
 *
 *
/*****************************  $Breandcrumbs  *****************************/

.breadcrumb{
  margin:  20px auto 20px auto;
  text-align: center;
  width: 100%;
  border-radius: 0 !important;
}
.breadcrumb a{
  color:  #333 !important;
}

.breadcrumb a:hover{
  color:  #a52b2d !important;
}




/*****************************  $Testimonials  *****************************/
.testimonials {
  padding: 50px 0;
  height: 350px;
  width: 100%;
  background: #ddd;
  
}
.testimonials-item {
  width: 80%;
  margin: 0 20px 50px;
  padding: 0 30px 30px 150px;
  position: relative;
}
.testimonials-item figure {
 
  left: 100px;
  overflow: hidden;
  position: absolute;
  top: 180px;
  
}
.testimonials-item p {
  border: 1px solid #ddd;
  color: #000;
  font-size: 1.2em;
  height: 140px;
  margin: 0;
  padding: 20px 10px;
  position: relative;
  background-color: #fff;
  box-shadow: 10px 10px 10px #111;
}
.testimonials-item p:after,
.testimonials-item p:before {
  border-width: 0px 0px 23px 23px;
  border-style: solid;
  content: '';
  display: block;
  position: absolute;
  top: 138px;
  width: 0;
  
}
.testimonials-item p:after {
  border-color: transparent #fff;
  left: 0px;
  z-index: 1;
}
.testimonials-item p:before {
  border-color: transparent;
  left: -9px;
  z-index: 0;
}
.testimonials-item p span {
  color: #999;
  display: block;
  font-size: 0.7em;
  
}
/**
 *
 *
/*******************************  $Timetable  ******************************/
.timetable {
  margin: 30px 0 50px;
}
.timetable table {
  width: 100%;
}
.timetable table td,
.timetable table th {
  border: 1px solid #e1e1e1;
  height: 65px;
  padding: 5px;
  text-align: center;
  width: 12.5%;
}
.timetable table td a {
  color: #fff;
  display: block;
  font-weight: 600;
  height: 55px;
  line-height: 55px;
  text-transform: uppercase;
}
.timetable table th {
  font-size: 0.875em;
  font-weight: 400;
}
.timetable .pilates {
  background-color: #ff6634;
}
.timetable .running {
  background-color: #e86060;
}
.timetable .crossfit {
  background-color: #58b580;
}
.timetable .yoga {
  background-color: #887fbe;
}
.timetable .choreo {
  background-color: #d484b9;
}
.timetable .salsa {
  background-color: #abd66d;
}
.timetable.mini {
  list-style: none;
}
.timetable.mini li {
  background-color: #fbfbfb;
  font-size: 0.8em;
  line-height: 30px;
  margin: 5px 0;
  padding: 4px 4px 4px 130px;
}
.timetable.mini li span {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  margin: 3px;
  padding: 0 20px;
  text-transform: uppercase;
}
.timetable.mini li span:first-child {
  color: #919191;
  font-size: 1.1em;
  text-transform: none;
  width: 120px;
  margin: 0 0 0 -120px;
}
.timetable-responsive {
  width: 100%;
  height: auto;
  overflow-x: auto;
  padding: 0 0 10px 0;
}
.timetable-responsive table {
  min-width: 940px;
}
/**
 *
 *
/********************************  $Title  *********************************/
header .title-blog{
  background-image: url("../img/bg/title04.jpg");
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
header .title-bs{
  background-image: url("../img/bg/title07.jpg");
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
header .title-club {
  background-image: url("../img/bg/title01.jpg");
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
header .title-classes{
  background-image: url("../img/bg/title02.jpg");
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
header .title-ct{
  background-image: url("../img/bg/title06.jpg");
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
header .title-cs{
  background-image: url("../img/bg/title05.jpg");
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
header .title-contact{
  background-image: url("../img/bg/title09.jpg");
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
header .title-e404{
  background-image: url("../img/bg/title10.jpg");
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
header .title-trainers{
  background-image: url("../img/bg/title03.jpg");
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
header .title-trainer{
  background-image: url("../img/bg/title06.jpg");
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
header .title-timetable{
  background-image: url("../img/bg/title08.jpg");
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
 .jumbotron{
  background-image: url('http://ziriga.com.br/assets/img/about/sobre.jpg');
  padding: 40px ;
  margin:  0 auto;

}
.jumbotron h1{
  color: #fff!important
}
.jumbotron img{
  width: 100%;
  z-index: 1;
} */
.sobre-jumbo{
  background: url('http://ziriga.com.br/assets/img/about/sobre.jpg');
  background-size: cover; 
  background: center;
  width: 100%;
  margin-top: 60px;
  padding:  30px auto;

        
}
/**
 *
 *
/*******************************  $Top Bar  ********************************/
.topbar {
  background-color: #262626;
  min-height: 75px;
}
.topbar .date {
  float: left;
  line-height: 75px;
  margin: 0 0 0 750px;
  padding: 0 0 0 0;
}
/**
 *
 *
/*******************************  $Trainers  *******************************/
.trainers {
  margin: 30px 0 30px;
}
.trainers-home-item {
  display: inline-block;
  margin: 20px 0;
}
.trainers-home-item:hover figcaption i {
  color: rgba(255,255,255,.5);
}
.trainers-home-item:hover figcaption span {
  color: rgba(255,255,255,.5);
}
.trainers-home-item figcaption {
  background-color: #333;
  padding: 20px;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.trainers-home-item figcaption h4 {
  color: #fff;
  font-size: 1.3em;
  font-weight: 700;
  margin: 0 0 5px 0;
  text-transform: uppercase;
}
.trainers-home-item figcaption i {
  background-color: #333;
  border: 2px solid #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #fff;
  font-size: 1.3em;
  height: 55px;
  line-height: 51px;
  position: absolute;
  right: 20px;
  text-align: center;
  top: -20px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 55px;
}
.trainers-home-item figcaption span {
  display: block;
  color: #a2a2a2;
}
.trainers-mini {
  margin: 0 -10px;
}
.trainers-mini-item {
  float: left;
  margin: 20px 10px;
  min-height: 100px;
  padding: 0 0 0 110px;
  position: relative;
  width: 265px;
}
.trainers-mini-item h4 {
  font-weight: 700;
  margin: 0 0 5px 0;
  text-transform: uppercase;
}
.trainers-mini-item figure {
  left: 0;
  position: absolute;
  top: 0;
  width: 100px;
}
.trainers-mini-item .social {
  float: left;
}
.trainers-mini-item .social li a {
  color: #000;
  line-height: 30px;
  padding: 0;
}
.trainers-item {
  border: 1px solid #e1e1e1;
  display: block;
  margin: 0 0 30px 0;
  padding: 0 0 20px 0;
}
.trainers-item.image-hover figure {
  margin: 0;
  width: 100%;
}
.trainers-item h3 {
  font-size: 1.3em;
  margin: 15px 0 5px 0;
  text-align: center;
}
.trainers-item h3 a {
  color: #000;
}
.trainers-item p {
  text-align: center;
}
.trainers-item .social {
  float: none;
  text-align: center;
}
.trainers-item .social a {
  color: #000;
  line-height: 30px;
  padding: 0;
}
.trainers-single .social {
  float: left;
}
.trainers-single .social li a {
  color: #000;
  line-height: 30px;
  padding: 0;
}
.trainers-single .row {
  margin-bottom: 50px;
}
.progress-bar-title{
  font-size: 1.1em;
}

.form .choose-unidade select{
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 0;
  width: 100%;
}
/**
 *
 *
/*****************************  $Video Embedded  ***************************/
.yt-video iframe {
  border: none;
  height: 100%;
  width: 100%;
}

.text-footer{
  color:  #fff;
}
#social{
  margin:  0 0 0  70px;
}



.footer-contact {
  margin: 40px auto;
}
/**
 *
 *
 *
 *
/***************************************************************************/
/****************************  $Media Queries  *****************************/
/*
 *
 * The styles by default are for desktops devices with resolutions
 * than 1200px of width or more.
 *
 */
/**
 *
 *
/*****************  $Medium devices (Desktops) <= 1200px  ******************/
@media handheld, only screen and (max-width: 1200px) {
  .navbar .navbar-nav li a {
    padding: 0 40px;
  }
  .high-boxes figure {
    height: 100px;
  }
  .bg-video .over {
    left: 22%;
    width: 56%;
  }
  .classes-home .tab-content {
    height: 400px;
    width: 900px;
  }
  .classes-home .tab-content figure {
    height: 400px;
  }
  .classes-home ul {
    height: 320px;
  }
  .pricing-item {
    padding: 110px 0 0 0;
  }
  .pricing-item li {
    font-size: 0.8em;
    padding: 0 20px;
  }
  .pricing-item li:first-child span {
    left: 10px;
  }
  .pricing-item li:first-child strong,
  .pricing-item li:first-child em {
    left: 65px;
  }
  .pricing-item li:last-child {
    padding: 20px 30px;
  }
  .image-hover figure {
    height: 270px;
  }
  .testimonials-item p {
    font-size: 1.1em;
    padding: 20px;
  }
  .testemunhos figcaption{
    background-color: #fff !important;
    color: #919191 !important;
  }
   .testemunhos figcaption span{
    font-size: 11px;
    color: #919191;
  }

  figcaption .fig-sobre{
    background-color: #fff;
    color:  #919191;
  }

  .testemunhos{
    margin-bottom: 40px; 
  }

  .testemunhos figure{
    display: inline-block;
    float: left;
  }


  address {
    font-size: 0.9em;
  }
  .nav-tabs>li>a {
    padding: 10px 20px;
  }
  .classes .grid {
    min-height: 2200px;
  }
  .news-item {
    width: 212px;
  }
  .classes.two-columns .classes-item figure {
    width: 232px;
    margin: -20px 20px -20px -250px;
  }
  .classes.two-columns .classes-item {
    height: 180px;
    padding: 20px 20px 20px 250px;
    width: 460px;
  }
  .trainers-mini-item {
    width: 100%;
  }
  .menu-search input[type="text"]:focus {
    width: 720px;
  }
}




/**
 *
 *
/*******************  $Small devices (Tablets) <= 992px  *******************/
@media handheld, only screen and (max-width: 992px) {
  .navbar-brand {
    width: 130px;
    top: -101px;
  }
  .topbar {
    text-align: center;
  }
  .topbar .date {
    float: none;
    padding: 0 0 0 160px;
    line-height: 55px;
  }
  .topbar .social {
    padding: 0 0 0 160px;
    float: none;
  }
  .topbar .social li a {
    line-height: 25px;
  }
  .high-boxes {
    display: none;
  }
  .bannercontainer .tp-bullets.simplebullets.round .bullet {
    margin-bottom: 60px;
  }
  .classes-home ul {
    margin: 440px 0 40px;
  }
  .classes-home .tab-content {
    right: -5px;
  }
  .image-hover figure {
    height: 200px;
  }
  .hours {
    height: auto;
   }
  .hours .map {
    height: 250px;
    position: static;
    width: 100%;
    left: 0;
  }
  .skills {
    height: auto;
  }
  .classes .grid {
    min-height: 1600px;
  }
  .classes .grid figure {
    margin: 5px;
    width: 200px;
  }
  .classes .filters p {
    display: block;
    margin: 0 0 20px 0;
  }
  .classes.two-columns .classes-item {
    width: 700px;
  }
  .comprar{
  width: 300px;
  margin:  30px auto;
  }
}


/**
 *
 *
/****************  $Extra Small devices (Phones) <= 768px  *****************/
@media handheld, only screen and (max-width: 768px) {
    
.navbar .navbar-nav li a:hover,
.navbar .navbar-nav li a:focus,
.navbar .navbar-nav li a:active,
.nav .open>a, 
.nav .open>a:hover, 
.nav .open>a:focus {
  background-color: transparent;
 
}

  .bannercontainer .caption,
  .highlights {
    display: none;
  }
  .bannercontainer .tp-bullets.simplebullets.round .bullet {
    margin-bottom: 10px;
  }
  .topbar .social,
  .topbar .date {
    padding: 0;
  }
  .topbar .date {
  display: none;
  }
  .navbar-brand {
    position: static;
  }
  .collapse.in {
    height:320px;
  }
  .navbar .navbar-nav {
    float: none;
  }
  .testimonials-item {
    padding: 0;
  }
  .testimonials-item figure {
    position: static;
    margin: 0 auto 20px;
  }
  .trainers-item {
    margin: 0 auto 30px;
    max-width: 250px;
  }
  .classes.two-columns .classes-item {
    height: auto;
    padding: 20px;
    width: 100%;
    max-width: 270px;
  }
  .classes.two-columns .classes-item figure {
    width: 100%;
    margin: 0 0 20px 0;
    float: none;
  }
  blockquote {
    font-size: 1em;
  }
  .news-one-item blockquote {
    padding: 30px 30px 30px 60px;
  }
  .news-one-item blockquote i {
    font-size: 2.5em;
  }
  .trainers-home-item {
    display: block;
    margin: 20px auto;
    max-width: 350px;
  }
  .bg-video .over {
    left: 5%;
    width: 90%;
  }
  .bg-video .over h3 {
    font-size: 1.6em;
  }

  .btn-video button{
    display: inline-block;
    transform: skew(4deg, 0);
  }

.btn-video button>span{
    display: inline-block;
    transform: skew(0, 0);
  }
  .image-hover figure {
    width: 100%;
    height: auto;
  }
  .classes .grid figure {
    margin: 5px;
  }
  .classes .grid.image-hover figure p {
    width: 90%;
  }
  .news-item:first-child figure {
    height: auto;
  }
  .news-item:first-child h2 {
    bottom: 0px;
    font-size: 2em;
    width: 90%;
  }
  .news-item:first-child h6 {
    bottom: auto;
    top: 10px;
  }
  h2:first-child {
    margin-top: 20px;
  }
  .trainers-single figure {
    max-width: 350px;
    margin: 0 auto;
  }
  .news-one-item.image-hover figure {
    height: auto;
  }
  .comments-item {
    padding: 20px 0 20px 90px;
  }
  .comments-item figure {
    width: 75px;
  }
  .comments-item.reply {
    margin-left: 0px;
  }
  article ul {
    padding: 0;
  }
  .testimonials-item p:after,
  .testimonials-item p:before {
    border-width: 0 10px 10px 10px;
    left: 50%;
    margin: 0 0 0 -12px;
  }
  .testimonials-item p:after {
    border-color: #fff transparent;
    top: -9px;
  }
  .testimonials-item p:before {
    border-color: #e1e1e1 transparent;
    top: -10px;
  }
  .menu-search {
    width: 100%;
  }
  .menu-search input[type="text"] {
    right: auto;
    left: 0;
  }
  .menu-search input[type="text"]:focus {
    width: 100%;
    padding: 0 30px 0 60px;
  }
#storeitem #img-store ol {
  height: 73px;
  width: 100%;
}
#storeitem #img-store ol li{
  margin: 0 1.6%;
  height: 140px;
  padding: 0;
  width: 30%;
}
#storeitem #img-store{
  margin:0;
}
  /*#storeitem .carousel-inner{
    margin-top: 80px;
    width: 100%!important;
    overflow: auto!important;
  }*/
}
.comprar{
 
  margin:  30px 30px;
  }

  figcaption{
    background-color: #a52b2d;
    color:  #fff;
    padding: 20px;
    
  }
  figcaption p{
    color: #fff;
  }

.plus{
  font-size: 3.5rem;
  color: #fff;
  font-weight: 600;
  width: 50px;
  height: 50px;
  background-color: #ff3631;
  position: absolute;
  text-align: center;
  padding: 0 .5rem 0 .65rem;
  right: 12.5%;
  top: 55%;
  border-radius: 50%;
}

/* Enderecos (Paginas de unidades) */

.endereco{
  margin: 0 auto;
}

.unidade select{
  padding:  15px;
  width: 100%;
  height: 

}
/**
 *
 *
/****************  $Extra Small devices (Phones) <= 600px  *****************/
@media handheld, only screen and (max-width: 610px) {
     .navbar .navbar-nav li a:hover{
      background-color: transparent;
    }
.navbar .navbar-nav .dropdown-menu>li>a:hover{
  background-color: transparent;
}


  .classes .grid figure {
    width: 180px;
  }
  .testemunhos{
    display: none;
  }
  .topbar .date {
  display: none;
  }
  .endereco{
  margin: 0 30px;
}
.comprar{
  margin:  30px auto;
  }
 
  .breadcrumbs{
    margin-bottom: -40px;
  }
  .copy{
    height: 100px;

  }
   .hours {
  background-color: #262626;
  height: 600px;
  display: block;
  width: 100%;
  transform: skew(0deg);
  }
  .opening-hours{
    height: 600px;
  }
 .hours  .opening-hours h3{
    margin-top: 20px;
  } 
  .hours  ul li {
   width: 100%;
   display: inline-block;
    transform: skew(0deg);
  }
.hours  ul li p{
  display: inline-block;
    transform: skew(0deg);
  }

.mapa{
    background-color:  #fff !important;
    display: inline-block;
    transform: skew(0, 0)
  }


}



/**
 *
 *
/****************  $Extra Small devices (Phones) <= 500px  *****************/
@media handheld, only screen and (max-width: 510px) {
    .navbar .navbar-nav li a:hover{
      background-color: transparent;
    }
.navbar .navbar-nav .dropdown-menu>li>a:hover{
  background-color: transparent;
}

  .bg-video {
    height: 180px;
  }
  .bg-video .over {
    display: none;
  }
  .classes .grid {
    min-height: 0;
    height: auto;
  }
  .classes-home .tab-content figure figcaption {
    margin: 0 30px 0 0;
    width: 300px;
  }
  .classes-home ul li a figure {
    float: none;
    margin: 0 auto 20px;
  }
  .nav-tabs>li {
    float: none;
  }
  .news-item {
    float: none;
    margin: 20px auto;
  }
  .news-one-item.image-hover figure,
  .news-one-item .carousel .item,
  .news-single-item>figure {
    height: auto;
    overflow: hidden;
  }
  .social li a {
    padding: 10px 1px;
  }
  .parallax {
    background-attachment: scroll;
    background-position: 0 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  }
  .hours {
  background-color: #262626;
  height: 720px;
  display: block;
  width: 100%;
  transform: skew(0deg);
  }
  .opening-hours{
    height: 720px;
  }
 .hours  .opening-hours h3{
    margin-top: 20px;
  } 
  .hours  ul li {
   width: 100%;
   display: inline-block;
    transform: skew(0deg);
  }
.hours  ul li p{
  display: inline-block;
    transform: skew(0deg);
  }

.mapa{
    background-color:  #fff !important;
    display: inline-block;
    transform: skew(0, 0)
  }
  .btn.btn-testimonials {
    width: 100%;
    padding: 10px;
  }
  h1 {
    font-size: 2.5em;
    margin: 60px 0;
  }
  .news-item:first-child p {
    display: none;
  }
  .endereco{
  margin: 0 30px;
}
.comprar{
  width: 300px;
  margin:  30px auto;
  }
  .breadcrumbs{
    margin-bottom: -40px;
  }
  .hours {
  background-color: #262626;
  height: 720px;
  display: block;
  width: 100%;
  transform: skew(0deg);
  }
  .opening-hours{
    height: 720px;
  }
 .hours  .opening-hours h3{
    margin-top: 20px;
  } 
  .hours  ul li {
   width: 100%;
   display: inline-block;
    transform: skew(0deg);
  }
.hours  ul li p{
  display: inline-block;
    transform: skew(0deg);
  }

.mapa{
    background-color:  #fff !important;
    display: inline-block;
    transform: skew(0, 0)
  }

  .copy{
    height: 100px;
  }
}

@media only screen and (max-width: 425px) {
     .navbar .navbar-nav li a:hover{
      background-color: transparent;
    }
.navbar .navbar-nav .dropdown-menu>li>a:hover{
  background-color: transparent;
}

  .btn-cta, .btn-cta2{
    font-size: 1em; 
  }
  .endereco{
  margin: 0 30px;
}
.comprar{
  margin:  30px auto;
  }

  .copy{
    height: 100px;
  }
    .hours {
  background-color: #262626;
  height: 720px;
  display: block;
  width: 100%;
  transform: skew(0deg);
  }
  .opening-hours{
    height: 720px;
  }
 .hours  .opening-hours h3{
    margin-top: 20px;
  } 
  .hours  ul li {
   width: 100%;
   display: inline-block;
    transform: skew(0deg);
  }
.hours  ul li p{
  display: inline-block;
    transform: skew(0deg);
  }

.mapa{
    background-color:  #fff !important;
    display: inline-block;
    transform: skew(0, 0)
  }
}

@media  only screen and (max-width: 320px) {
   .navbar .navbar-nav li a:hover{
      background-color: transparent;
    }
.navbar .navbar-nav .dropdown-menu>li>a:hover{
  background-color: transparent;
}

.btn-cta{
    font-size: 1em;
  }
  .btn-cta2{
    font-size: 1em;
  }
  .endereco{
  margin: 0 30px;
}
.comprar{
 
  margin:  30px auto;
  }
  .breadcrumbs{
    margin-bottom: -40px;
  }
  .hours {
  background-color: #262626;
  height: 720px;
  display: block;
  width: 100%;
  transform: skew(0deg);
  }
  .opening-hours{
    height: 720px;
  }
 .hours  .opening-hours h3{
    margin-top: 20px;
  } 
  .hours  ul li {
   width: 100%;
   display: inline-block;
    transform: skew(0deg);
  }
.hours  ul li p{
  display: inline-block;
    transform: skew(0deg);
  }

.mapa{
    background-color:  #fff !important;
    display: inline-block;
    transform: skew(0, 0)
  }
  .copy{
    height: 100px;
  }

}

.form-error{
  border: 1px solid orange;
}

.help-block{
  display: none;
}

.valid-error{
    display: block;
    background: orange;
    margin-top: 0;
    padding: 5px;
    font-size: 10px;
    font-weight: bold;
    color: #000;
}

.trabalhe-conosco{
  background-color: rgba(0, 0, 0, 0.03);
  margin-bottom: -10px;
}
.trabalhe-conosco button{
  margin-top: 55px;
}


.matriz img{
  width: 40%;
}




